* {
    box-sizing: border-box;
}
/* body{
    font-size: 5vw;
} */

nav.level.is-mobile{
    margin: 0.5rem 0;
}

.buttonDiv{
    position: relative;
    margin-top: 20px;
}
.search-panel{
    height: 94vh;
    background-color:#ffa500;
}

img{
    width: 60%;
}

.saved-event{
    position: relative;
}
.savedEvent-date{
    position: absolute;
    top: 10px;
    left: 20px;
}
.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#realButton{
    margin:auto 0;
}

#nextPage, #previousPage{
    cursor: pointer;
}

#nextPage:hover, #previousPage:hover {
    color: #0378e56e;
}